<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@favorlabs">
    <meta name="twitter:title" content="<%- %>">
    <meta name="twitter:description" content="<%- %>">
    <meta name="twitter:image" content="https://share.favorlabs.io/uploads/thumbnails/thumbnail-<%- %>.jpg">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="FavorTube">
    <meta property="og:title" content="<%- %>">
    <meta property="og:description" content="<%- %>">
    <meta property="og:image" content="https://share.favorlabs.io/uploads/thumbnails/thumbnail-<%- %>.jpg">
    <meta property="og:url" content="https://favortube.favorlabs.io?endpoint=https://polygon.favorlabs.io:1601/#<%- url%>">
</head>
<script>
    window.location.replace("https://favortube.favorlabs.io?endpoint=https://polygon.favorlabs.io:1601/#<%- url%>");
</script>
<body>

</body>
</html>