<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@favorlabs">
    <meta name="twitter:description" content="<%- title%>">
    <meta name="twitter:image" content="https://share.favorlabs.io/uploads/thumbnails/thumbnail-<%- id%>.jpg">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="FavorTube">
    <meta property="og:title" content="<%- title%>">
    <meta property="og:description" content="<%- description%>">
    <meta property="og:image" content="https://share.favorlabs.io/uploads/thumbnails/thumbnail-<%- id%>.jpg">
    <meta property="og:url" content="https://polygon.favorlabs.io:1601/file/aae7797765e185aac99b4e621bae7b01704914fd5b685d1bcf1dcbbc0989bd45/#/watch/<%- id%>">
</head>
<script>
    window.location.replace("https://polygon.favorlabs.io:1601/file/aae7797765e185aac99b4e621bae7b01704914fd5b685d1bcf1dcbbc0989bd45/#/watch/<%- id%>");
</script>
<body>

</body>
</html>