<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@favorlabs">
    <meta name="twitter:title" content="<%- title%>">
    <meta name="twitter:description" content="<%- description%>">
    <meta name="twitter:image" content="https://share.favorlabs.io/uploads/thumbnails/thumbnail-<%- id%>.jpg">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="FavorTube">
    <meta property="og:title" content="<%- title%>">
    <meta property="og:description" content="<%- description%>">
    <meta property="og:image" content="https://share.favorlabs.io/uploads/thumbnails/thumbnail-<%- id%>.jpg">
    <meta property="og:url" content="https://polygon.favorlabs.io:1601/file/8fa0bf2efcc36fc05fc2a339943f1d039540a3d5bc3dfa7dea522924e2ad47dd/#/watch/<%- id%><%- query%>">
</head>
<script>
    window.location.replace("https://polygon.favorlabs.io:1601/file/8fa0bf2efcc36fc05fc2a339943f1d039540a3d5bc3dfa7dea522924e2ad47dd/#/watch/<%- id%><%- query%>");
</script>
<body>

</body>
</html>